{% extends 'base.html' %}
{% block title %}
    home
{% endblock %}

{% block content %}
           <h2 class="text-cneter">Home Page </h2>
    <div class="container">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">User name: {{ user.username }}</h5>
            <p class="card-text">First Name: {{ user.first_name }}</p>
            <a href="#" class="card-link">Last Name: {{ user.last_name }}</a><br>
            <a href="#" class="card-link">Email {{ user.email }}</a>
          </div>
        </div>



    </div>
{% endblock %}
