{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  change password
{% endblock %}

{% block content %}
    <br>
        <div class="container">
            <div class="col-md-6 offset-md-3">
                 <h2 class="text-center">Change for Password</h2>
                 <hr>
                <br>
                   <form method="POST" action="{% url 'change_passwrod' %}">
                       {% csrf_token %}
                       {{ form | crispy }}
                       <input type="submit" value="Change Password" class="btn btn-primary">

            </form>
            </div>
        </div>


{% endblock %}
